.select-wrapper {
  padding-left: 140px;

  ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 15px;

    li {
      cursor: pointer;
      color: var(--indianred);
      margin-bottom: 10px;
      padding: 10px;
      font-weight: bold;
      font-size: 1.05em;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .label {
    font-weight: bold;
    font-size: 1.6em;
  }
}

.active {
  background-color: var(--indianred);
  color: var(--white) !important;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .select-wrapper {
    padding-left: 15px;
  }
}
