.container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 2fr 4fr;
  grid-template-areas:
    "header header"
    "select info";
}

.header {
  grid-area: header;
}

.select {
  grid-area: select;
}

.info {
  grid-area: info;
}

.loader-wrapper {
  width: 100;
  text-align: center;
}
